*{
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
}

.navbarjv{
    background-color: black;
    padding: 7px 10px;
    width: 100%;
    position: fixed;
    flex: content;

}

.navbarjv > a{
    color: white;
    padding: 10px;
}

.navbarjv > .pesquisa{
    background-color: white;
    width: 350px;
    height: 50px;
    float: right;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 7px 7px 4px rgb(175, 175, 175);
}

.navbarjv > .pesquisa > form > input{
    background-color: white;
    padding-left: 30px;
    height: 50px;
    width: 280px;
    float: right;
    border: none;
    outline: none;
    border-radius: 10px;
}

.navbarjv .pesquisa > form > button > img{
    width: 50px;
    height: 50px;
}

.navbarjv > .icones{
    float: right;
}



.navbarjv > .menu{
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    padding-top: 20px;
}

.navbarjv > a:hover{
    background-color: white;
    color: black;
}



.titulo{
    font-family: cursive;
    padding-top: 20px;
    letter-spacing: 5px;
    font-size: 36px;
    text-decoration: none;
}

.materia{
    margin: 30px 10px;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 7px 7px 4px rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}

.materia > .row > .col-lg-4 > a > img{
    width: 85%;
    min-height: 200px;
    margin: 15px 10px;
    border-radius: 10px 0 0 10px;
}

.materia > p{
    float: right;
    width: 60%;
    vertical-align: top;
    margin-top: 15px;
    text-align: justify;
    margin-right: 10px;
}

.materia > a > h2{
    margin: 20px;
    text-shadow: 1px 2px 1px red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.materia > a{
    text-decoration: none;
}

.materia > .row > .col-lg-8 > button{
    margin-bottom: 20px;
    margin-right: 40px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    transition: 0.8s;
    float: right;
}

.materia > .row > .col-lg-8 > button:hover{
    color: black;
    background-color: cyan;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.conteudo{
    width: 70%;
}

.labels{
    /*width: 25%;
    margin-left: 10px;*/
    background-color: white;
    margin: 30px 0;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px 4px rgb(175, 175, 175);
    padding: 7px;
    height: 50%;
}

.labels > h3{
    padding: 7px;
}

.itens > a{
    display: block;
    text-decoration: none;
    padding: 7px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.itens > a:hover{
    background-color: blue;
    color: white;
}

a{
    cursor: pointer;
}

.foto >  img{
    width: 60%;
}

footer{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
}